:root {
  --color-primary: #6366f1;
  --color-secondary: #818cf8;
  --color-accent: #c084fc;
  --color-background: #0f172a;
  --color-foreground: #f8fafc;
  --color-surface: #22293b;
  --color-muted: #9b9fa8;
}
