@import "tailwindcss";

@source "../src/**/*.{astro,html,js,jsx,md,mdx,svelte,ts,tsx,vue}";

@theme {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
  --color-background: var(--color-background);
  --color-foreground: var(--color-foreground);
}
